@model IEnumerable<Karaokedigital.Models.AwardModel>

@{
    ViewData["Title"] = "Awards";
}

<div>
    <partial name="NavBar" />
</div>

<h1>Awards</h1>

<p class="mt-4">
    <a class="btn btn-glow" title="Add New" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CreateAward" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="fas fa-plus"></i></a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AwardID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Award)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reward)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="result pt-2 cursor-pointer" onclick="location.href = 'EditAward?id=@item.AwardID&customerUserID=@ViewBag.Model.CustomerUserID'">
                    <td>
                        @Html.DisplayFor(modelItem => item.AwardID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Award)
                    </td>
                    <td>
                        <i class="h3 fas fa-trophy text-@item.Cup.ToLower()"></i> @Html.DisplayFor(modelItem => item.Cup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reward)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <i class="h2 text-success fas fa-check"></i>
                        }
                    </td>
                    <td colspan="3" class="result-button text-center d-none">
                        <a class="btn btn-glow-circle mr-4" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="EditAward" asp-route-id="@item.AwardID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
                        <a class="btn btn-glow-circle mr-4" title="Details" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="DetailsAward" asp-route-id="@item.AwardID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-beetlejuice fas fa-file-invoice"></i></a>
                        <a class="btn btn-glow-circle mr-4" title="Deactivate" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="DeactivateAward" asp-route-id="@item.AwardID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-warning fas fa-ban"></i></a>
                        <a class="btn btn-glow-circle mr-4" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="DeleteAward" asp-route-id="@item.AwardID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-danger fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
