@model Karaokedigital.Models.CustomerUserModel

@{
    ViewData["Title"] = "DeleteCustomerUser";
}

<div>
    <partial name="NavBar" />
</div>


<h3>Are you sure you want to delete this CustomerUser?</h3>

@if (!string.IsNullOrEmpty(@ViewBag.Response))
{
    @if (@ViewBag.Response == "CustomerUser has been deleted")
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.Response
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Response
        </div>
    }

}
<hr />

@if (Model != null)
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerUserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerUserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BornCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BornCountry)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BornProvince)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BornProvince)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BornCity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BornCity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FiscalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FiscalCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Province)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Province)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Img)
            </dt>
            <dd class="col-sm-10">
                <img class="rounded-circle" alt="@Html.DisplayFor(modelItem => Model.Username)" width="60" height="60" src="~/Images/CustomerUsers/@Model.Username/@Html.DisplayFor(modelItem => Model.Img)">
                <p>@Html.DisplayFor(model => model.Img)</p>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>
        <form class="mb-4" asp-action="DeleteCustomerUser" asp-route-id="@Model.CustomerUserID" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID">
            <button type="submit" class="btn btn-glow" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top"><i class="fas fa-trash-alt"></i></button>
            @if (Model != null)
            {
                <a class="btn btn-glow ml-2" asp-action="CustomerUsers" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
            }
            else
            {
                <a class="btn btn-glow ml-2" asp-action="CustomerUsers" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
            }

        </form>
    </div>
}
else
{
    <div>
        <form class="mb-4" asp-action="DeleteCustomerUser" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID">
            <button type="submit" class="btn btn-glow" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top"><i class="fas fa-trash-alt"></i></button>
            <a class="btn btn-glow ml-2" asp-action="CustomerUsers" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
        </form>
    </div>
}



