@model Karaokedigital.Models.AwardModel

@{
    ViewData["Title"] = "DetailsAward";
}

<div>
    <partial name="NavBar" />
</div>


<h1>Details Award</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Award)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Award)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reward)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reward)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.IsActive)
            {
                <i class="h2 text-success fas fa-check"></i>
            }
        </dd>
    </dl>
</div>
<div class="mb-4">
    <a class="btn btn-glow" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="EditAward" asp-route-id="@Model.AwardID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
    <a class="btn btn-glow ml-2" asp-action="Awards" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
</div>
