
<nav class="navbar navbar-expand navbar-toggleable navbar-light bg-white border-bottom box-shadow mb-0">
	<div class="container-fluid">
		<form asp-action="Index" method="get" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" asp-route-customerID="@ViewBag.CustomerModel.CustomerID">
			<input name="customerUserID" value="@ViewBag.Model.CustomerUserID" class="form-control" hidden />
			<button class="border-0 bg-none mr-3" type="submit" title="home" data-bs-toggle="tooltip" data-bs-placement="left"><img class="cursor-pointer logo" src="~/Img/Logo/mic.jpg" alt="microphone" width="50" height="50"></button>
		</form>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Tracks" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Tracks" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-green fas fa-music"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Tracks4Reservation" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Tracks4Reservation" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" asp-route-customerID="@ViewBag.CustomerModel.CustomerID"><i class="bg-green fas fa-compact-disc"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Awards" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Awards" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="fas fa-award"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Reservations" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Reservations" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-lilla fas fa-microphone-alt"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Chart" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Chart" asp-route-customerID="@ViewBag.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-info fas fa-chart-line"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Trophies" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Trophies" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-gold fas fa-medal"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Qr" data-bs-toggle="tooltip" data-bs-placement="top" href=""><i class="bg-beetlejuice fas fa-qrcode"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Plans" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Plans" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-orangered fas fa-gas-pump"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Roles" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Roles" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-purple fas fa-graduation-cap"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Cups" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Cups" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-pink fas fa-trophy"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="ReservationStates" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="ReservationStates" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-dark-sea fas fa-tasks"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="UserLocations" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="UsersCustomers" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-beetlejuice fas fa-cocktail"></i></a></li>
				<li class="nav-item"><a class="btn btn-glow btn-menu" title="Users" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="Users" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="fas fa-user-friends"></i></a></li>
				@if (@ViewBag.Model.Role == "Customer")
				{
					<li class="nav-item"><a class="btn btn-glow btn-menu" title="CustomerUsers" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CustomerUsers" asp-route-customerID="@ViewBag.CustomerModel.CustomerID" asp-route-customerUserID="@ViewBag.Model.CustomerUserID"><i class="bg-orange fas fa-users-cog"></i></a></li>
				}
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<div class="top-container">
						<form asp-action="Edit" method="get" asp-route-customerUserID="@ViewBag.Model.CustomerUserID" asp-route-customerID="@ViewBag.CustomerModel.CustomerID">
							<button class="border-0 bg-none" type="submit" title="@ViewBag.Model.Username" data-bs-toggle="tooltip" data-bs-placement="left">
								<img alt="@ViewBag.Model.Username" class="rounded-circle cursor-pointer img-profile" width="60" height="60" src="~/Images/CustomerUsers/@ViewBag.Model.Username/@ViewBag.Model.Img" class="img-fluid profile-image">
								</button>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>