@model IEnumerable<Karaokedigital.Models.PlanModel>

@{
    ViewData["Title"] = "Plans";
}

<div>
    <partial name="NavBar" />
</div>

<h1>Plans</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlanID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlanID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Properties)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>