@model IEnumerable<Karaokedigital.Models.TrackModel>

@{
    ViewData["Title"] = "Tracks";
}

<div>
    <partial name="NavBar" />
</div>
<h1>Tracks</h1>

<p class="mt-4">
    <a class="btn btn-glow" title="Add New" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CreateTrack"><i class="fas fa-plus"></i></a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrackID)
                </th>
                <th>
                    Media
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFeaturing)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="track-result pt-2 cursor-pointer" onclick="location.href = 'DetailsTrack?id=@item.TrackID'">
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackID)
                    </td>
                    <td>
                        <video class="rounded" width="150" height="100" controls>
                            <source src="~/Tracks/@Html.DisplayFor(modelItem => item.File)" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        @if (item.IsFeaturing)
                        {
                            <i class="h2 text-success fas fa-check"></i>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
