@model IEnumerable<Karaokedigital.Models.ReservationModel>

@{
    ViewData["Title"] = "CustomerReservations";
}

<h1>Customer Reservations</h1>

@if (@ViewBag.Count > 0)
{
    <button type="button" class="float-left btn btn-info">
        <i class="text-dark fas fa-calendar-alt mr-2"></i> <span class="badge badge-light text-dark">@Html.DisplayFor(modelItem => @Model.First().Date)</span>
        <span class="sr-only">Date</span>
    </button>

    <button type="button" class="float-right btn btn-orange">
        <i class="text-dark fas fa-stopwatch mr-2"></i> <span class="badge badge-light text-dark">@ViewBag.Time</span>
        <span class="sr-only">Date</span>
    </button>
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Social)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Social)
            </td>
            <td>
                <a class="btn btn-player mr-4" title="Play" data-bs-toggle="tooltip" data-bs-placement="top" href="PlayReservation?id=@item.ReservationID"><i class="fas fa-play"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
