@model IEnumerable<Karaokedigital.Models.ReservationModel>

@{
    ViewData["Title"] = "CustomerReservations";
}

<h1>Customer Reservations</h1>

@if (@ViewBag.Count > 0)
{
    <div class="">
        <button type="button" class="float-left btn btn-info">
            <i class="text-dark fas fa-calendar-alt mr-2"></i> <span class="badge badge-light text-dark">@Html.DisplayFor(modelItem => @Model.First().Date)</span>
            <span class="sr-only">Date</span>
        </button>

        <button type="button" class="float-right btn btn-orange">
            <i class="text-dark fas fa-stopwatch mr-2"></i> <span class="badge badge-light text-dark">@ViewBag.Time</span>
            <span class="sr-only">Time</span>
        </button>
    </div>
  
}
<div class="table-responsive">
<table class="table table-dark table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Social)
            </th>
            <th>@Html.DisplayNameFor(model => model.Votation)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="result">
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
                
            <td>
                    @if (item.Social)
                    {
                        for (int i = 0; i < item.NumberUsers; i++)
                        {
                       
                            <i class="h5 sunset fas fa-microphone-alt"></i>
                        
                        }
                        
                    }
            </td>
            
            <td>
                    @Html.DisplayFor(modelItem => item.Votation)
            </td>
                    <td colspan="2" class="result-button text-center d-none">
                        @if (item.State == "Reserved")
                        {
                            <a class="btn btn-player" title="Play" data-bs-toggle="tooltip" data-bs-placement="top" href="CustomerReservations?play=@item.ReservationID"><i class="fas fa-play"></i></a>
                        }

                        @if (item.State == "Playing")
                        {
                            <a class="btn btn-player mr-4" title="Pause" data-bs-toggle="tooltip" data-bs-placement="top" href="CustomerReservations?pause=@item.ReservationID"><i class="far fa-pause-circle"></i></a>
                            <a class="btn btn-player" title="Stop" data-bs-toggle="tooltip" data-bs-placement="top" href="CustomerReservations?stop=@item.ReservationID"><i class="far fa-stop-circle"></i></a>
                        }

                        @if (item.State == "Pause")
                        {
                            <a class="btn btn-player mr-4" title="Play" data-bs-toggle="tooltip" data-bs-placement="top" href="CustomerReservations?play=@item.ReservationID"><i class="fas fa-play"></i></a>
                            <a class="btn btn-player" title="Stop" data-bs-toggle="tooltip" data-bs-placement="top" href="CustomerReservations?stop=@item.ReservationID"><i class="far fa-stop-circle"></i></a>
                        }

                    </td>
        </tr>
}
    </tbody>
</table>
</div>