@model Karaokedigital.Models.AwardModel

@{
    ViewData["Title"] = "EditAward";
}

<h1>Edit Award</h1>

@if (!string.IsNullOrEmpty(@ViewBag.Response))
{
    @if (@ViewBag.Response == "Award already exists")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Response
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.Response
        </div>
    }

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAward">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="AwardID" class="control-label"></label>
                <input asp-for="AwardID" class="form-control"/>
                <span asp-validation-for="AwardID" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Customer" class="control-label"></label>
                <input asp-for="Customer" class="form-control" />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Award" class="control-label"></label>
                <input asp-for="Award" class="form-control" />
                <span asp-validation-for="Award" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Cup" class="control-label"></label>
                <input asp-for="Cup" class="form-control" />
                <span asp-validation-for="Cup" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CupID" class="control-label"></label>
                <input asp-for="CupID" class="form-control" />
                <span asp-validation-for="CupID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cup" class="control-label"></label>
                <select name="CupID" class="form-select" aria-label="Default select example">
                    <option selected>Cup</option>
                    @foreach (var item in @ViewBag.Cups)
                    {
                        <option value="@item.CupID">@item.Cup</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Reward" class="control-label"></label>
                <input asp-for="Reward" class="form-control" />
                <span asp-validation-for="Reward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-glow" title="Save" data-bs-toggle="tooltip" data-bs-placement="top"><i class="far fa-save"></i></button>
            </div>
        </form>
        <form method="post" asp-controller="Owner" asp-action="DeactivateAward">
            <div class="form-group mt-2 float-left d-block" style="float:left; display:block;">
                <input asp-for="AwardID" class="form-control" hidden />
                <button type="submit" class="btn btn-glow ml-2" title="Deactivate" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-warning fas fa-ban"></i></button>
                <a class="btn btn-glow ml-2" href="CustomerAwards?id=@Model.CustomerID" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
            </div>
        </form>
    </div>
</div>

