@model Karaokedigital.Models.TrackModel

@{
    ViewData["Title"] = "EditTrack";
}

<h1>Edit Track</h1>
@if (!string.IsNullOrEmpty(@ViewBag.Response))
{
    @if (@ViewBag.Response == "Track already exists")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Response
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @ViewBag.Response
        </div>
    }

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Owner" asp-action="EditTrack" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackID" class="control-label"></label>
                <input asp-for="TrackID" class="form-control" readonly />
                <span asp-validation-for="TrackID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">File: @Html.DisplayFor(modelItem => Model.File)</label><br />
                <video width="150" height="100" controls>
                    <source src="~/Tracks/@Html.DisplayFor(modelItem => modelItem.File)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="input-group mb-3">
                <input type="file" name="MediaFile" class="form-control d-none" id="MediaFile">
                <label class="input-group-text" for="MediaFile">Sfoglia</label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFeaturing" /> @Html.DisplayNameFor(model => model.IsFeaturing)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-glow" title="Save" data-bs-toggle="tooltip" data-bs-placement="top"><i class="far fa-save"></i></button>
                <a class="btn btn-glow ml-2" asp-action="Tracks" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
            </div>
        </form>
    </div>
</div>


