@model IEnumerable<Karaokedigital.Models.SubCustomerModel>

@{
    ViewData["Title"] = "SubCustomers";
}

<h1>Sub Customers</h1>

<p class="mt-4">
    <a class="btn btn-glow" title="Add New" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CreateCustomer"><i class="fas fa-plus"></i></a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="result pt-2 cursor-pointer" onclick="location.href = 'EditCustomer?id=@item.SubCustomerID'">
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCustomer)
            </td>
            <td>
                    @if (item.IsActive)
                    {
                        <i class="h2 text-success fas fa-check"></i>
                    }
            </td>
            <td colspan="4" class="result-button text-center d-none">
                    <a class="btn btn-glow-circle mr-4" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top" href="EditCustomer?id=@item.SubCustomerID"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Details" data-bs-toggle="tooltip" data-bs-placement="top" href="DetailsCustomer?id=@item.SubCustomerID"><i class="bg-beetlejuice fas fa-file-invoice"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Deactivate" data-bs-toggle="tooltip" data-bs-placement="top" href="DeactivateCustomer?id=@item.SubCustomerID"><i class="bg-warning fas fa-ban"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top" href="DeleteCustomer?id=@item.SubCustomerID"><i class="bg-danger fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
