@model IEnumerable<Karaokedigital.Models.UserModel>

@{
    ViewData["Title"] = "Users";
}


<h1>Users</h1>

<p class="mt-4 ml-2">
    <a class="btn btn-glow" title="Add New" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CreateUser"><i class="fas fa-plus"></i></a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>Photo</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="customer-result pt-2 cursor-pointer" onclick="location.href = 'EditUser?id=@item.UserID'">
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td><img class="rounded-circle" alt="@Html.DisplayFor(modelItem => item.Username)" width="60" height="60" src="~/Images/Users/@item.Username/@Html.DisplayFor(modelItem => item.Img)"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <i class="h2 text-success fas fa-check"></i>
                    }
                </td>
                    <td colspan="4" class="customer-button text-center d-none">
                    <a class="btn btn-glow-circle mr-4" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top" href="EditUser?id=@item.UserID"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Details" data-bs-toggle="tooltip" data-bs-placement="top" href="DetailsUser?id=@item.UserID"><i class="bg-beetlejuice fas fa-file-invoice"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Deactivate" data-bs-toggle="tooltip" data-bs-placement="top" href="DeactivateUser?id=@item.UserID"><i class="bg-warning fas fa-ban"></i></a>
                    <a class="btn btn-glow-circle mr-4" title="Delete" data-bs-toggle="tooltip" data-bs-placement="top" href="DeleteUser?id=@item.UserID"><i class="bg-danger fas fa-trash-alt"></i></a> 
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
