@model IEnumerable<Karaokedigital.Models.AwardModel>

@{
    ViewData["Title"] = "Awards";
}

<h1>Awards</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AwardID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Award)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AwardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AwardID }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.AwardID }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.AwardID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
