@model IEnumerable<Karaokedigital.Models.PlanModel>

@{
    ViewData["Title"] = "Plans";
}

<h1>Plans</h1>

<p>
    <a class="btn btn-primary" asp-action="CreatePlan">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Properties)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPlan", new { id = item.PlanID }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsPlan", new { id = item.PlanID }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeletePlan", new { id = item.PlanID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
