@model IEnumerable<Karaokedigital.Models.TrophyModel>

@{
    ViewData["Title"] = "Trophies";
}

<h1>Trophies</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrophyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Award)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrophyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TrophyID }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.TrophyID }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.TrophyID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
