@model IEnumerable<Karaokedigital.Models.ScoreModel>

<div>
    <partial name="NavBar" model="@ViewBag.Model" />
</div>

@if (!string.IsNullOrEmpty(@ViewBag.Response))
{
    @if (@ViewBag.Response != "Votation has been inserted")
    {
                    <div class="alert alert-danger" role="alert">
            @ViewBag.Response
                    </div>
    }
    else
    {
                    <div class="alert alert-info" role="alert">
            @ViewBag.Response
                    </div>
    }

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr class="result pt-2 cursor-pointer">
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td colspan="4" class="result-button text-center d-none">
                <a class="btn btn-glow-circle" title="DeleteVotation" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="DeleteVotation" asp-route-scoreID="@item.ScoreID" asp-route-reservationID="@item.ReservationID" asp-route-userID="@ViewBag.Model.UserID" asp-route-customerID="@ViewBag.CustomerID"><i class="bg-danger fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
