@model IEnumerable<Karaokedigital.Models.TrackModel>

@{
    ViewData["Title"] = "Tracks";
}

<div>
    <partial name="NavBar" model="@ViewBag.Model" />
</div>

<h1>Tracks</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TrackID)
                </th>
                <th>
                    Media
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFeaturing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsReservable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsReserved)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="track-result pt-2 cursor-pointer">
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackID)
                    </td>
                    <td>
                        <video class="rounded" width="150" height="100" controls>
                            <source src="~/Tracks/@Html.DisplayFor(modelItem => item.File)" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        @if (item.IsFeaturing)
                        {
                            <i class="h2 text-success fas fa-check"></i>
                        }
                    </td>
                    <td>
                        @if (item.IsReservable == true)
                        {
                            <i class="h2 text-success fas fa-check"></i>
                        }else
                        {
                            <i class="h2 text-danger fas fa-ban"></i>
                        }
                    </td>
                    <td>
                        @if (item.IsReserved == true)
                        {
                            <i class="h2 text-success fas fa-check"></i>
                        }
                    </td>
                    @if (item.IsReservable == true && item.IsSocial == false && item.IsReserved == false)
                    {
                        <td colspan="3" class="track-button text-center d-none">
                            <form method="post" asp-action="CreateReservation">
                                <div class="input-group mt-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$ocial</span>
                                    </div>
                                    <div class="input-group-text">
                                        <input name="Social" type="checkbox" aria-label="Checkbox for following text input">
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tone</span>
                                    </div>
                                    <div class="input-group-text">
                                        <input name="Tone" type="number" min="-3" max="3" value="0" aria-label="Checkbox for following text input">
                                    </div>
                                    <input name="UserID" type="text" value="@ViewBag.Model.UserID" hidden>
                                    <input name="CustomerID" type="text" value="@ViewBag.CustomerID" hidden>
                                    <input name="TrackID" type="text" value="@item.TrackID" hidden>
                                    <button type="submit" class="btn btn-glow" title="Reserve" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-info fa-solid fas fa-pencil-alt"></i></button>
                                </div>
                            </form>
                        </td>
                    }

                    @if (item.IsReservable == true && item.IsSocial == true && item.IsReserved == true)
                    {
                        <td colspan="3" class="track-button text-center d-none">
                            <form method="post" asp-action="InsertReservationUser">
                                <div class="input-group mt-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$ocial</span>
                                    </div>
                                    <div class="input-group-text">
                                        <input name="Social" type="checkbox" checked disabled readonly aria-label="Checkbox for following text input">
                                    </div>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tone</span>
                                    </div>
                                    <div class="input-group-text">
                                        <input name="Tone" type="number" min="-3" max="3" value="0" aria-label="Checkbox for following text input">
                                    </div>
                                    <input name="UserID" type="text" value="@ViewBag.Model.UserID" hidden>
                                    <input name="CustomerID" type="text" value="@ViewBag.CustomerID" hidden>
                                    <input name="TrackID" type="text" value="@item.TrackID" hidden>
                                    <button type="submit" class="btn btn-glow" title="Reserve" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-info fa-solid fas fa-pencil-alt"></i></button>
                                </div>
                            </form>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
